.dogContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.dogImg {
    max-width: 100%;
}

section.sectionInfo {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

section.infoHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seperator {
    height: 1px;
    width: 100%;
    align-self: center;
    background-color: lightgray;
    margin-bottom: 5%;
}

section.sectionDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}