.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    max-width: 80vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    background-color: white;
}